#workArea {
    padding-left: 15%;
    padding-right: 13%;
}

#containerKonva {
    padding: 0%;
}

#problemArea {
    padding-bottom: 10px;
}

#equAndPro {
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#statement {
    resize: none;
}

#ImagenArea {
    height: 180px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    border: white;
    border-style: solid;
}

textarea::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.5;
  }

#confAndImageArea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    font-size: large;
    font-weight: bold;
    margin: 4px;
}

.hrStyleWhite {
    border-top: 2px solid white;
    margin: 4px;
}

.hrStyleBlack {
    border-top: 2px solid black;
    margin-top: 4px;
    margin-bottom: 4px;
}

.eqText {
    margin: 6px;
}
