#workArea {
    padding-left: 15%;
    padding-right: 13%;
}

#containerKonva {
    padding: 0%;
}



#equAndPro {
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#statement {
    resize: none;
}

