#workArea {
    padding-left: 15%;
    padding-right: 13%;
}

#containerKonva {
    padding: 0%;
}

#problemArea {
    padding-bottom: 10px;
}

#equAndPro {
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#statement {
    resize: none;
}

#ImagenArea {
    height: 180px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    border: white;
    border-style: solid;
}


#confAndImageArea {
    margin-top: 10px;
    margin-bottom: 10px;
}
