<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://unpkg.com/konva@8.3.12/konva.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  

    {% load static %}
    {{dclJSON|json_script:"dclJSON"}}
    <script src="{% static 'js/nodesName.js' %}" defer></script>
    <script src="{% static 'js/models/node.js' %}" defer></script>
    <script src="{% static 'js/models/x_reference.js' %}" defer></script>
    <script src="{% static 'js/models/y_reference.js' %}" defer></script>
    <script src="{% static 'js/variables.js' %}" defer></script>
    <script src="{% static 'js/functions.js' %}" defer></script>
    <script src="{% static 'js/templates/edit_task.js' %}" defer></script>
    <script src="{% static 'js/save_task.js' %}" defer></script>
    <script src="{% static 'js/send_image.js' %}" defer></script>
    <title>ITS ESTATICA</title>
</head>
<body>
    <header style="width: 100%; height: 68px; border-bottom: 1px solid black;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; height: 100%;">
            <h1 class="navbar-brand" style="position: absolute; left: 50%; transform: translate(-50%, 0%); padding: 5%x; font-family: andale mono; font-size: 30px;">
                <a href="{% url 'index' %}" style="text-decoration: none; color: black;">ITS ESTATICA</a>
            </h1>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" style="margin-left: 85%;">
                    <li>
                        <a href="{% url 'sign_in' %}" class="btn btn-light my-2 my-lg-0">Salir</a>
                    </li>     
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <textarea id="statement" style="width: 1440px; background-color: rgb(0, 83, 56); border: 10px outset rgb(128, 70, 16); color: white; font-size: 20px; margin-top: 20px; padding-left: 5px;"></textarea>
            <div id="containerView" style="width: 1440px; display: flex; margin-top: 8px; ">
                <input type="file" class="form-control" id="imageInput" name="image" accept="image/*">
                <button id="clearImage" class="btn btn-primary" style="margin-left: 8px;">Limpiar</button>
            </div>
            <div id="imagePreviewContainer" style="display: flex; align-items: center; justify-content: center;">
                <img id="imagePreview" data-image= "{{ imageUrl }}" class= "img-thumbnail" alt="task image" style="max-height: 400px;">
            </div>
            <p style="margin-top: 8px;">
                Reemplazar viculos por fuerzas
                (Vista no editable)
                <input type="checkbox" id="turnToRealDCL">
                Mostrar referencias
                <input type="checkbox" id="showReferences">
                <label for="dimensiones">Dimensiones: </label>
                <select name="dimensiones" id="dim">
                    <option value=1>1m</option>
                    <option value=0.01>1cm</option>
                    <option value=0.1>10cm</option>
                    <option value=10>10m</option>
                    <option value=100>100m</option>
                </select>
                <button type="submit"  onclick="changeDimensions()" id="dimSubmit">Aplicar </button>
                {% include 'modalInfo.html'%}      
            </p> 
        <div id="containerKonva" style=" width: 1440px; background-color: antiquewhite; border: 10px outset rgb(128, 70, 16);">
        </div>
        <div id="equations" style="width: 1444px; height: 340px; background-color: rgb(0, 83, 56); color: whitesmoke; border: 10px outset rgb(128, 70, 16); margin-top: 15px; padding: 5px;">
            <p id="forcesX">ΣFx: = 0</p>
            <p id="forcesY">ΣFy: = 0</p>
            <p id="moments">ΣM: = 0</p>
            <p id="difficulty">Dificultad: = <span id="difficultyValue">0</span></p>
            <p id="classification">Tags: = []</p>
        </div>
        <button id="saveButton" class="btn btn-primary createTask" data-taskid="{{taskId}}">Guardar</button>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"/>
        <input type="hidden" id="taskInfo" data-statement="{{statement}}" data-sizeFactor="{{sizeFactor}}">
        </div>
    </main>
</body>
</html>