<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>in</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Nombre de usuario" >
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit" >Entrar</button>
        <div>
            <p class="text-base"> No tienes cuenta? <a href="{% url 'sign_up' %}"> Crea una </a></p>
        </div>
    </form>
</body>
</html>