<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>hola profe</h1>
        
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Accion</th>

        
            </tr>
        </thead>
        <tbody>
            {% for task in tasks%}
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.date}}</td>
                <td>
                    <a href="{% url 'edit_task' task.id %}">Editar</a>
                    <a href="{% url 'delete_task' task.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
        
    <a href="{% url 'create_task' %}">Nueva tarea</a>
    <a href="{% url 'sign_out' %}">Salir</a>


</body>
</html>